@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular", sans-serif;
  color: #222222;
}

html,
body,
#root {
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Toast Message

.ToastWrapper {
  max-width: 40%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin: 10px 30px;
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transition: all 0.3s ease;
  animation: popIn 0.3s;
  @keyframes popIn {
    from {
      transform: translateY(500%);
    }
    to {
      transform: translateY(0);
    }
  }
}

.toastMessageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  padding: 20px;
  pointer-events: none;
}

// Common elements

input[type="text"] {
  &:focus {
    outline: none;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #fff inset;
  -webkit-text-fill-color: #333;
}

.textInput {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  position: relative;

  & > label {
    position: absolute;

    margin: 1px 10px;
    font-size: 0.2em;
    transition: all 0.2s ease;
    user-select: none;
    cursor: text;
  }

  & > label:has(+ input:placeholder-shown:not(:focus)) {
    font-size: 1em;
    margin: 5px 10px;
    vertical-align: middle;
  }
  & > input {
    border: none;
    border-radius: inherit;
    width: 100%;
    height: inherit;
    background-color: transparent;
    // padding: 10px 10px 5px 10px;
    padding: 10px;
    &:focus {
      outline: none;
    }

    &::placeholder {
      user-select: none;
    }
  }
}

button {
  border: none;
  width: 100%;
  background-color: #045d8b;
  color: #fff;
  border-radius: 5px;
  padding: 5px 0px;

  &:hover {
    background-color: #00365d;
  }
  &:active {
    background-color: #045d8b;
  }
  &:disabled {
    background-color: #bdd4e0;
  }
}
